# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# cmake stuff
*/*/CMakeFiles/
*CMakeCache.txt
*DartConfiguration.tcl
*.cmake
*Makefile*
*install_manifest.txt
build/

#visual studio
settings.json


# generation stuff
generation/run_scripts/data
generation/run_scripts/log
generation/run_scripts/steer
generation/run_scripts/macros
*.slcio


# temporary files
*#*
*~
cdb.log
